//Imports
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@100&display=swap');

//General Styles
*{
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    user-select: none;
    -webkit-user-drag: none;            
  }
  hr{
    border-color: rgb(179, 179, 179);
  }
  .backgroundVideo{
    position: absolute;
    top: 0;
    right: 0;
    height: 103%;
    width: 100%;
    z-index: -1;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

//Mixins
@mixin border-gradient{
  background: linear-gradient(#212121, #212121) padding-box,
  linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  border-radius: 16px;
  box-sizing: border-box;
  animation: gradient 5s ease infinite;
}

@mixin titles{
  text-align: center;
  font-size: 50px;
  color: #e0e0e0;
  margin-top: 7%;
  margin-bottom: 2.5%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

@mixin grids($repeat, $space){
  display: grid;
  grid-template-columns: repeat($repeat, $space);
  gap: 0.8%;
  justify-content: center;
}

@mixin divs{
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  scroll-snap-align: start;
}

//Keyframes
@keyframes gradient {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}



//Styles
#root{

  scroll-behavior: smooth;
}
html,
body{
  background-color: #313131;
  width: 100vw;
  height: 100vh;
  overflow-y: initial;
  ::-webkit-scrollbar {
    width: 16px;
  }
  ::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: hsl(0,0%,67%)
  }
  ::-webkit-scrollbar-track{
    background-color: #313131;
  }
  .container{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    //-------------------------Encabezado-------------------------//
    .navbar{
      color: whitesmoke;
      background-color: rgba(29, 29, 29, 0.8);
      display: flex;
      position: fixed;
      top: 0;
      width: 100%;
      backdrop-filter: blur(8px);
      z-index: 2;
      .logo{
        font-family: 'Dancing Script', cursive;
        font-size: 200%;
        margin-left: 8%;
        padding: 0.5%;
      }
      .barra{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 14%;
        a{
            margin-left: 25px;
            padding: 14px 30px;
            font-size: 20px;
        }
      }
      .icons{
        margin: 0.5% 0 0 10%;
        width: 10%;
        a{
          img{
            width: 20%;
            height: 70%;
            margin-left: 13%;
          }
          img:nth-child(1){
            height: 75%;
          }
        }
      }
    }
    //-------------------------Sobre mi-------------------------//
    .presentation{
      display: flex;
      @include divs();
      .description{
        margin-top: 8%;
        width: 60%;
        h2{
          @include titles()
        }
        h4{
          color: #bebebe;
          margin-left: 10%;
          font-size: 40px;
        }
        p{
          color: rgb(255, 255, 255);
          font-size: 20px;
          text-shadow: 0 0 2px #ffffff, 0 0 4px #ffffff, 0 0 6px #000000, 0 0 8px #000000;
          width: 80%;
          margin: 4% 0 0 10%;
        }
      }
      .photo{
        padding: 3%;
        img{
          margin-top: 40%;
          background-color: rgba(29, 29, 29, 0.2);
          transform: rotate(1deg);
          border-radius: 50%;
          height: 45%;
          backdrop-filter: blur(0px);
          box-shadow: 0 0 10px #b425d1, 0 0 20px #c58bd1, 0 0 30px #bf1edf;
        }
      }
    }
    //-------------------------Conocimiento-------------------------//
    .knowledge{
      @include divs();
      h2{
        @include titles()
      }
      .imagesKnowledge{
        width: max-content;
        margin: auto;
        margin-top: 6%;
        @include grids(7, 90px);
        img{
          height: 50px;
          width: 50px;
          margin: 20%;
        }
        img:nth-child(12),
        img:nth-child(16) {
          background-color: rgba(0, 0, 0, 0.2);
          border-radius: 50%;
          backdrop-filter: blur(0.3px)
        }
      }
    }
    //-------------------------Proyecto-------------------------//
    .project{
      @include divs();
      h2{
        @include titles()
      }
      .gridCard{
        @include grids(3, 250px);
        .flip-card {
          background-color: transparent;
          width: 235px;
          height: 260px;
          perspective: 1000px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          .flip-card-inner {
            position: relative;
            width: 100%;
            height: 98%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            overflow: initial;
            .flip-card-front, 
            .flip-card-back {
              position: absolute;
              width: 100%;
              height: 100%;
              padding: 5px;
              border-radius: 2em;
              backface-visibility: hidden;
            }
            .flip-card-front {
              @include border-gradient();
              font-family: inherit;
              display: flex;
              flex-direction: column;
              gap: 20px;
              background-size: 200% 100%;
              .profileVideo {
                background-color: rgb(51, 51, 56);
                border-radius: 4%;
                height: 170px;
                width: 100%;
              }
              .name {
                font-size: 27px;
                color: #c143da;
                font-weight: bold;
              }
            }
            .flip-card-back {
              @include border-gradient();
              transform: rotateY(180deg);
              padding: 11px;
              .Description{
                .description {
                  margin-top: 10px;
                  font-size: 14px;
                  letter-spacing: 1px;
                  color: white
                }
                .socialBar {
                  background-color: transparent;
                  border-radius: 3em;
                  width: 90%;
                  padding: 14px;
                  margin: 11px 0px 0px 10px;
                  word-spacing: 24px;
                  color: white;
                  img {
                    transition: 0.4s;
                    width: 30px;
                    height: 30px;
                    color: #c143da
                  }
                  img:hover {
                    color: white;
                  }
                }
              }
            }
          }
        }
        .pfp {
          border-radius: 35em;
          fill: #c143da;
        }
        
        .flip-card:hover  {
          .flip-card-inner {
            transform: rotateY(180deg);
          }
        }    
      }
    }
    //-------------------------Contacto-------------------------//
    .contact{
      @include divs();
      .titleContact{
        @include titles();
      }
      .form-container {
        width: 800px;
        margin: auto;
        @include border-gradient();
        padding: 32px 24px;
        font-size: 16px;
        font-family: inherit;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-size: 200% 100%;
        button:active {
          scale: 0.95;
        }
        .form {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
        .form-group {
          display: flex;
          flex-direction: column;
          gap: 2px;
          label {
            display: block;
            margin-bottom: 5px;
            color: #717171;
            font-weight: 600;
            font-size: 18px;
          }
          input {
            width: 95%;
            padding: 12px 16px;
            border-radius: 8px;
            color: #fff;
            font-family: inherit;
            background-color: transparent;
            border: 1px solid #414141;
          }
          textarea {
            width: 95%;
            padding: 12px 16px;
            border-radius: 8px;
            resize: none;
            color: #fff;
            height: 96px;
            border: 1px solid #414141;
            background-color: transparent;
            font-family: inherit;
          }
          input::placeholder {
            opacity: 0.5;
          }
          input:focus {
            outline: none;
            border-color: #e81cff;
          }
          textarea:focus {
            outline: none;
            border-color: #e81cff;
          }
        }
        .form-submit-btn {
          display: flex;
          justify-content: center;
          align-self: flex-end;
          font-family: inherit;
          color: #717171;
          font-weight: 600;
          width: 40%;
          background: #313131;
          border: 1px solid #414141;
          padding: 12px 16px;
          font-size: inherit;
          gap: 8px;
          margin-top: 8px;
          cursor: pointer;
          border-radius: 6px;
        }
        .form-submit-btn:hover {
          background-color: #474747;
          border-color: #942fa1;
        }
      }
    }
    //-------------------------Pie de pagina-------------------------//
    .footer{
      background-color: rgba(20, 20, 20, 0.8);
      color: whitesmoke;
      height: 70px;
      h5{
        text-align: center;
        font-size: 27px;
        padding-top: 20px;
        a{
          color: rgb(179, 179, 179);
        }
      }
    }
  }

}